Variables
:root {
	--basic-black: #000000;
	--basic-extra-dark: #242424;
	--basic-dark: #aba9a7;
	--basic-neutral: #e5e5e5;
	--basic-extra-light: #f8f5f2;
	--basic-white: #ffffff;
	--special: #663d15;
}
body {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
background-color: #0b3463;
color: white;
}
h1, h2, h3 {
	text-transform: uppercase;
}
.main_wrapper,
.footer_wrapper,
.header_wrapper {
max-width: 1140px;
/*border: 1px solid red;*/
margin-left: auto;
margin-right: auto;
}
.main_wrapper{
height: 100%;	
}
.wellcome_h1 {
max-width: 740px;
margin-left: 95px;
/*border: 1px solid blue;*/
font-size: 54px;	
}
.wellcome_h2 {
/*border: 1px solid blue;*/
font-size: 36px;
margin-left: 95px;	
}
.wellcome_p {
max-width: 600px;
margin-left: 95px;
/*border: 1px solid blue;*/
font-size: 20px;	
}
.start_page {
max-width: 1140px;
margin-left: 95px;
/*border: 1px solid green;*/
}
.footer_wrapper {
}
.footer_content_wrapper{
display: flex;
justify-content: space-between;
max-width: 1140px;
}
.made_wrapper {
margin-left: 95px;
padding-top: 20px;
}
.social_wrapper {
margin-right: 195px;
padding-top: 20px;	
}
.line {
border-bottom: 1px solid rgb(82, 98, 116); /* Параметры линии */
}
  @media (max-width: 1024px) {
.start_page,
/*.wellcome_p,*/
.wellcome_h1 {
font-size: calc( (100vw - 10rem)/25 + 1rem);
margin-left: 10px;
margin-right: 10px;
}
.wellcome_h2 {
font-size: calc( (100vw - 10rem)/25 + 1rem);
margin-left: 1px;

}
.wellcome_p {
margin-left: 10px;
margin-right: 10px;	
}
/*-----------FOOTER STYLE--------------------*/
.footer_content_wrapper{
display: flex;
flex-direction: column;
}
.made_wrapper {
align-items: center;
margin-left: auto;
margin-right: auto;
padding: calc(100%-10px);
}
.social_wrapper {
margin-left: auto;
margin-right: auto;
}
.social-ico {
margin: 15px;	
}
}